{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_audit/block/disclaimer

    Displays the admin tree as a list of grouped links.

    TODO
    Example context (json):
    {
        "node": {
            "headline": "Headline"
            "disclaimertext": "Root of menu",
            "buttonText": "test0",
        }
    }

}}
<div class="block_course_audit-disclaimer-container">
    <p>{{#str}} tour_introduction, block_course_audit, { "url": "{{wiki_url}}" } {{/str}}</p>
     {{! 
    <a href="wikiurl" class="btn btn-info btn-sm" target="_blank">
        #str wiki_link, block_course_audit str
    </a> 
    }}
</div>
