{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_course_audit/main

    Displays the admin tree as a list of grouped links.
    
    TODO
    Example context (json):
    {
        "node": {
            "text": "Root of menu",
            "key": "test0",
            "display": true,
            "children": [
                {
                    "text": "Child of menu",
                    "key": "test1",
                    "display": true,
                    "children": []
                }
            ]
        }
    }
}}

<div class="block-course-audit card" id="block-course-audit">
{{#summary_data}}
<div class="block_course_audit-summary-container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{#str}}summary_heading, block_course_audit{{/str}}</h3>
      <p class="card-subtitle">{{#str}}lastaudit, block_course_audit{{/str}} {{timecreated}}</p>

      <div class="card-stats">
        <div class="stat total">
            <div class="stat-number">{{rulecount}}</div>
            <div class="stat-label">{{#str}}checksprocessed, block_course_audit, {{/str}}</div>
        </div>
        <div class="stat passed">
            <div class="stat-number">{{passedcount}}</div>
            <div class="stat-label">{{#str}}passedrules, block_course_audit, {{/str}}</div>
        </div>
        <div class="stat failed">
            <div class="stat-number">{{failedcount}}</div>
            <div class="stat-label">{{#str}}failedrules, block_course_audit, {{/str}}</div>
        </div>
      </div>
    </div>
    
    <div class="checks-container">
    {{#hasResults}}
        {{#results}}
        <div class="rule-check">
          <div class="check-header">
              {{#isTodo}}
              <div class="check-icon failed">✗</div>
              {{/isTodo}}
              {{#isDone}}
              <div class="check-icon passed">✓</div>
              {{/isDone}}
              <h4 class="check-title">{{ruleNameDisplay}}</h4>
              <span class="expand-arrow">▶</span>
          </div>

          <div class="check-body">
              <div class="check-content">
                  {{#messages}}
                    <p class="check-description">{{{.}}}</p>
                  {{/messages}}
                  <div class="check-stats">
                      <div class="stat-item">
                          <div class="stat-label">Key:</div>
                          <div class="stat-value">{{rulekey}}</div>
                      </div>
                      <div class="stat-item">
                          <div class="stat-label">Target:</div>
                          <div class="stat-value">{{targettype}} {{targetid}}</div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {{/results}}
    {{/hasResults}}

    {{^hasResults}}
        <div class="p-3 text-center text-muted">
            {{#str}}noauditresults, block_course_audit{{/str}}
        </div>
    {{/hasResults}}
    </div>
</div>

{{#fromblock}}
    {{#canmanagecourse}}
        <div class="mt-3 text-center">
            <button class="btn btn-secondary audit-start-button">{{#str}}startnewaudit, block_course_audit{{/str}}</button>
        </div>
    {{/canmanagecourse}}
{{/fromblock}}
{{/summary_data}}

{{^summary_data}}
{{#pre}}
<button type="button" class="btn btn-secondary page-nav" id="start-course-audit" >
{{start_hint}}
</button>
{{/pre}}
{{/summary_data}}
    <div id="miau-wrapper" class="slide-in">
        <div id="miau-gif" aria-hidden="true" role="presentation" tabindex="0">
            <div id="bubble-container" role="presentation" style="display: none;">
                <div id="miau-speech-bubble" class="d-flex flex-column" aria-hidden="true" role="presentation">
                    {{#wrap_data}}
                        <div class="card-header d-flex justify-content-between align-items-start">
                            <div class="d-flex flex-grow-1 justify-content-between">
                                <h5 class="m-0">{{title}}</h5>
                                <button type="button" class="btn btn-secondary btn-minimize">
                            </div>
                        </div>
                        <div class="card-body" id="card-container">
                            {{{content}}}
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary page-nav audit-start-button">
                                {{{button_done}}}
                            </button>
                        </div>
                    {{/wrap_data}}
                </div>
                <div class="miau-speech-bubble-edge">
                </div>
            </div>
        </div>
    </div>
</div>

